experimentos/experimentos_n8/Simulacion_1000_iteraciones/funciones_fnd.json filter=lfs diff=lfs merge=lfs -text
experimentos/2025-04-15_18-11-26/funciones_fnd.json filter=lfs diff=lfs merge=lfs -text
